<form action="/articles" method="GET">
<button type="submit">Most Recent</button>
</form>
<form action="/articles/abc" method="GET">
<button type="submit">By Name</button>
</form>
<a href="/categories"><button>By Category</button></a>


<ul>
<% @articles.each do |article| %>
<li><a href="/article/<%= article.id %>"><%= article.name %></a></li>
<% end %>
</ul>
