<!DOCTYPE html>
<html>
<head>
	<title>HitGif Wiki</title>
	<!-- Meta Configurations -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--/Meta Configurations -->

	<!-- Links to Public -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script language="javascript" src="/js/main.js"></script>
	<script language="javascript" src="/js/bootstrap.js"></script>
	<script language="javascript" src="/js/p5.min.js"></script>
	<script language="javascript" src="/js/p5.js"></script>
	<script language="javascript" src="/js/p5.dom.js"></script>
	<!--/Links to Public -->
</head>

<body>

	<!-- navbar -->
	<div class="navbar">
		<a href="/"><button>Home</button></a>
		<a href="/articles"><button>All Articles</button></a>
		<a href="/categories"><button>Categories</button></a>
		<!-- OPTIONS -->
		<% if session[:user_id] %> <!-- If logged -->
			<a href="/article/create"><button>Create Own Article</button></a>
			<a href="/users/articles/<%= session[:user_id] %>"><button>My Account</button></a>
		<% else %> <!-- If not logged -->
			<a href="/login"><button>Login</button></a>
			<a href="/register"><button>Sign Up</button></a>
		<% end %>
		<!--/OPTIONS -->
	</div>
	<!--/navbar -->

	<!-- Body -->
	<div class="body">
		<%= yield %>
	</div>
	<!-- /Body -->	

	<!-- Footer -->
	<% if session[:user_id] %> <!-- If logged -->
			<% user = User.find(session[:user_id])%>
			<p>Logged as <%= user.name %></p>
			<form action="/sessions/delete" method="POST"><button>Log Out</button></form> 
	<% end %>
	<div class="main_footer">
		<button class="previous_page">Previous Page</button>
	</div>
	<!-- /Footer -->

	<img src="http://s17.postimg.org/p6d5m8a5b/Powered_By_200_Horizontal_Light_Backgrounds_With.gif">

</body>
</html>