<!DOCTYPE html>
<html>
<head>
	<title>WEWIKI</title>
	<!-- Links to Public -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/reset.css">
	<link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="/js/main.js"></script>
	<!-- /Links to Public -->
</head>

<body>
	<!-- Header -->
	<div class="main_header">
		<!-- Home Button -->
		<a href="/"><p class="home_button">Home</p></a>
		<!-- Brand Name -->
		<h1>WEKIWI</h1>
	</div>
	<!-- /Header -->

	<!-- Body -->
	<div class="body">
		<!-- Template -->
		<%= yield %>
		<!-- /Template -->
	</div>
	<!-- /Body -->	

	<!-- Footer -->
	<div class="main_footer">
		<!-- OPTION1: If User is Logged, Show: -->
		<% if session[:user_id] %>
			<% user = User.find(session[:user_id])%>
			<!-- Logged as, create article, my account -->
			<p>Logged as <%= user.name %> | <a href="/article/create">Create Article</a> | <a href="/users/articles/<%= session[:user_id] %>">My Account</a></p>
			<!--/Logged as, create article, my account -->
			<form action="/sessions/delete" method="POST">
  				<button>Log Out</button>
			</form>
		<!-- OPTION2: If User NOT Logged, Show: -->
		<% else %>
			<p class="menu-log-in"><a href="/login">Login</a> | <a href="/register">Sign Up</a></p>
		<% end %>
		<!--/OPTIONS -->
		<!-- Always Display: -->
		<button class="previous_page">Previous Page</button>
		<!-- /Always Display -->
	</div>
	<!-- /Footer -->


</body>
</html>