<!DOCTYPE html>
<html>
<head>
	<title>Wekiwi</title>
</head>
<script type="text/javascript" src="../js/main.js"></script>
<body>
<a href="/"><p>Home</p></a>
<h1>WEKIWI</h1>

<%= yield %>

<a href="/login"><p>Login</p></a>
<a href="/signup"><p>Sign Up</p></a>
</body>
</html>