<h3><%=session[:user_name]%> Kiwi's</h3>

<%if !@myarticles.empty?%>
	<p>Articles created:</p>
	<ul>
	<% @myarticles.each do |article| %>
		<li><a href="/article/<%= article.id %>"><%= article.name %></a>, on <%= article.time_created %></li>
	<% end %>
	</ul>
<% else %>
	<p>You don't have articles yet.</p>
	<a href="/new"><p>What about creating one?</p></a>
<% end %>


