.main_header {
	height: 100px;
	width: 1000px;
	margin: 10px auto;
}

.main_header > h1 {
	text-align: center;
	font-size: 30px;
	font-family: 'Gloria Hallelujah', cursive;
	/*letter-spacing: 0.5em;*/
}

.body {
	text-align: center;
	width: 500px;
	height: 400px;
	margin: 10px auto;
	font-family: 'Gloria Hallelujah', cursive;
}

.main_footer {
	text-align: center;
	width: 1000px;
	margin: 10px auto;
	padding: 20px;
	font-size: 15px;
	border-top: black dotted 2px;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
}

.articles-body {
	float: right;
	line-height: 200%;
}

.order-by {
	float: left;
	width: 200px;
	padding: 20px;
}

.undobutton {
	border: none;
	background-color: inherit;
	font-size: 30px;
	font-family: 'Gloria Hallelujah', cursive;
}

.previous_page, .home_button {
	font-size: 15px;
	float: left;
	border: none;
	background-color: inherit;
	margin: 4px;
	color: navy;
	font-family: 'Gloria Hallelujah', cursive;
}

.menu-log-in {
}

