<!-- Title of Page -->
<div class="articles-header">
	<h2>Select Article</h2>
</div>
<!--/Title of Page-->

<!-- Options Menu --><!-- Try to put on dropdown -->
<div class="order-by">
	<form action="/articles/ordered/time_created" method="GET">
		<!-- Sort by Recent -->
		<button class="undobutton" type="submit">Most Recent</button>
	</form>
	<form action="/articles/ordered/name" method="GET">
		<!-- Sort by Name -->
		<button class="undobutton" type="submit">By Name</button>
	</form>
	<!-- Sort by Category (by Showing Categories/Index) -->
	<a href="/categories"><button class="undobutton">See Categories</button></a>
</div>
<!--/Options Menu-->

<!-- List of Articles -->
<div class="articles-body">
	<ul>
		<% @articles.each do |article| %>
			<li><a href="/articles/<%= article.id %>"><img style="max-width:100px;" src="<%= article.gif %>"></a></li>
		<% end %>
	</ul>
</div>
<!--/List of Articles -->
