<!--Login Successful-->
<% if params[:message] %>
	<%= @message %>
<% end %>
<!--/Login Successful-->

<div class="navegation">

	<img src="https://ikfashion.com.au/media/magentothem/avatar/CuteDogIRescuedAHumanpawsitivelytexasjpg">

	<a href="/articles"><p>All Articles</a> | <a href="/categories">Categories</a>
</div>
