<!-- Title of Page -->
	<div class="sessions-title">
		<h1>Log In!</h1>
	</div>
<!--/Title of Page -->

<!-- Body of Page -->
	<div class="sessions-body">
		<!-- Show Log In Successful/Unsuccessful -->
		<% if params[:message] %>
			<%= @message %>
		<% end %>
		<form action="/sessions" method="POST">
			<input type="text" name="username" id="name" placeholder="Username">
			<input type="password" name="password" id="name" placeholder="Password">
			<button>Log In</button>
		</form>
	</div>
<!--/Body of Page -->