<div class="container wrapper">
<div class="jumbotron jumbotronwhite">

<!-- Title of Page -->
	<div class="sessions-title">
		<h1>Log In</h1>
		<p>CREATE | SHARE | HIT | GIF</p>
	</div>
<!--/Title of Page -->

<!-- Body of Page -->
	<div class="sessions-body">
		<!-- Login Unsuccessful -->
		<% if params[:message] && !session[:user_id] %>
			<%= @message %>
		<% end %>
		<!-- Login Unsuccessful -->
		<form action="/sessions" method="POST">
			<input type="text" name="username" id="name" placeholder="Username">
			<input type="password" name="password" id="name" placeholder="Password">
			<button>Log In</button>
		</form>
		<br>
		<p>Don't have an account?<a href="/register"> Sign Up</a></p>
	</div>
<!--/Body of Page -->
</div>
</div>