<!-- Title of Page -->
	<div class="sessions-title">
		<h2>Join Wekiwi</h2>
	</div>
<!--/Title of Page -->

<!-- Body of Page -->
	<div class="sessions-body">
		<form action="/users" method="POST">
			<input type="text" name="name" placeholder="Your Name">
			<input type="text" name="email" placeholder="Your E-mail">
			<input type="text" name="username" placeholder="Choose a Username">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="password_confirmation" placeholder="Confirm Your Password">
			<button>Sign up</button>
		</form>
	</div>
<!--/Body of Page -->