<div class="container wrapper">
<div class="jumbotron jumbotronwhite">

<!-- Title of Page -->
	<div class="user-title-edit-bio text-center">
		<h2>Hit Connect</h2>
	</div>
<!--/Title of Page -->

<!-- Body of Page -->
<div class="all-users-page">
  <% @users.each do |user| %>
     <a href="/users/<%= user.id %>"><p class="no-decoration-link"><%= user.name %></p></a>
  <% end %>
</div>
<!--/Body of Page -->

</div>
</div>