<div class="user">
  <h1><%= @user.name %></h1>
 
  <p>Location: NY</p>
  <p>Age: 22</p>
  <p>Articles: <%= @user.articles %></p>
  <p>Facebook: /facebpook.com</p>
</div>
<p><a href="/users">Back to Users</a></p>